
* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  
  line-height: 1.6;
background-color: #000000;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
 align-items: center;
   background: rgb(255, 255, 255);
  padding: 15px 20px;
border: 6px solid rgb(0, 0, 0);
  height: 300px;
}

.log {
  color: #00ff88;
  font-size: 22px;
  font-weight: bold;
}

 

/* ===== MOBILE ===== */



.hero {
  background:none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  z-index: 10;
}
.catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    justify-content: center;
    animation: sideUp 1s ease-out;
    z-index: 10000;
    
}
.item {

           padding: 5px;
    width: 25%;
 background-color: rgb(0, 0, 0);
height: 10%;
    border-radius: 60px;
   padding-top: -10px;
    text-align: center;
transition: all 0.5s ease;
box-shadow: 0 0 0 3px #ffffff, 0 12px 25px rgb(0, 0, 0);
animation: sideUp 1s ease-out;


}




   
.item:hover {
  
  transform: translateY(-19px);
  box-shadow: 0 0 0 3px #5f7208;
    
}




.item img {
    width: 100%;
    border-radius: 50px;
 padding: none;
    object-fit: cover;
}



.item h2 {
    font-size: 10px;
    margin: 10px 0 5px;
    border-radius: 80px;
    color: #ffffff;
   
}


.item p {
    color: #ffffff;
    font-size: 25px;
    padding: 10px;
}


.item button {
    background-color: #4cab08;
    color: rgb(255, 255, 255);
    border: none;
    padding: 8px 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s;
}











.item button:hover {
    background-color: #00ff6a;
    transition: 0.4;
}
.cont1{
  width: 95%;
    background-color:rgba(0, 0, 0, 0.718);
    backdrop-filter: blur(45px);
   height: 80%;
   margin-left: 3%;
    border-radius: 20px;
    padding-bottom: 10px;
    padding: 20px;
   z-index: 1000;
    border: 4px solid rgb(115, 205, 24);
}
.button-cont{
 
}
.hero h1 {
  letter-spacing: 2px;
  margin-left: -2%;
  font-size: 48px;
  color: #ffffff;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logo img{
  width: 45%;
  height: 49%;
 margin-top: -13%;
  position: absolute;
  margin-left: 24%;
  z-index: 1;
  
  border-radius: 20px;
}



.section {
  padding: 50px 20px;
  max-width: 1000px;
  margin: auto;
  
}

.section h2 {
  margin-bottom: 15px;
}
 


.logotip {
  color: #000000;
  margin-left: -12%;
  font-size: 200%;
  font-weight: bold;
  letter-spacing: 50%;
  box-shadow: 10px rgb(255, 255, 255);
  text-shadow: 10px 10px 10px #757474;
  justify-content: end;
}


.btn1{
  width: 30%;
  height: 60px;
  background-color:rgba(255, 0, 0, 0.873);
  border-radius: 20px;
  color: #ffffff;
  font-size: 23px;
}
.btn2{
  width: 30%;
  height: 60px;
  background-color:rgba(255, 0, 0, 0.873);
  border-radius: 20px;
  color: #ffffff;
   font-size: 23px;
}
.gray {
  background: #f4f4f4;
  border-radius: 20px;
  padding-right: 10px;
}
.li{
  padding: 10px;
}
.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #ffffff;
  padding: 20px;
  flex: 1;
  min-width: 200px;
  text-align: center;
  border-radius: 8px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.684);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  z-index: 100000000000000;
  box-shadow: 0 5px 25px rgba(0,0,0,0.4);
}



.log{
 color: #ffffff;
 margin-left: 12%;
 font-size: 25px;
}
.plus{
  
  width: 20%;
  height: 20%;
  position: absolute;
  margin-bottom: 20%;
 z-index: 1000000000000000;
 
}
.plus img{
  width: 12%;
  height: 12%;
position: fixed;
   margin-left: -1%;
 z-index: 1000000000000000;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  padding: 8px 12px;
  transition: 0.3s;
 
}
 .footer {
  background: #fbfffe;
  padding: 60px 20px;
  color: #000000;
}

.footer-inner {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  gap: 40px;
  align-items: center;
}


.footer-logo img {
  max-width: 320px;
}


.footer-contacts h3,
.footer-socials h3 {
  font-size: 22px;
  margin-bottom: 20px;
  margin-left: 10%;
}

.footer-contacts a {
  display: block;
  font-size: 18px;
  margin-bottom: 12px;
  color: #000000;
  text-decoration: none;
}

.footer-contacts a:hover {
  text-decoration: underline;
}

.footer-socials {
  max-width: 100%;
}

.social-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 26px;
  transition: 0.3s;
}
.social-icons img:hover{
  transform: scale(1.2);
  transition: 0.3s;
}

.social-icons img {
  width: 46px;
  max-width: 100%;
  transition: 0.3s;
}
@media (max-width: 900px) {
  .footer-inner {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }
 .footer-logo{
    margin-left: -1%;
   }
   .log{
    font-size: 22px;
    margin-left: 20%;
   }
   .plus{
    
   }
   .plus img{
    width: 25%;
    height: 10%;
    margin-top: -22%;
    margin-left: -5%;
   }
   .footer-contacts{
    margin-left: 20%;
   }
   .social-icons{
    margin-right: 5%;
   }
   .footer-socials h3{
margin-left: 19%;
   }
  .footer-socials {
    width: 100%;
    overflow: hidden;
  }
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background: linear-gradient(90deg, #00ff88, #00cfff);
  transition: 0.4s;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  color: #00ff88;
}


.burger {
  width: 35px;
  height: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger span {
  height: 4px;
  width: 100%;
  background: linear-gradient(90deg, #76c30b, #f9f9f9);
  border-radius: 5px;
  transition: 0.4s;
}

.burger.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}
.burger.active span:nth-child(2) {
  opacity: 0;
}
.burger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}


@media (max-width: 768px) {

  .burger {
    display: flex;
  }
  .theme-toggle {
   position: absolute;
  left: 190px;


  }
 

  .nav-links {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    background: rgba(15, 15, 15, 0.97);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transform: translateX(100%);
    transition: 0.4s ease;
  }

  .nav-links.active {
    transform: translateX(0);
  }

  
}







h6{
  font-size: 30px;
 margin-top: 3%;
 margin-left: -4%;

 
}

h5{
  color: #ffffff;
  font-size: 35px;
 
}





@keyframes side{
    from{transform:translateX(150px);
    opacity:0;}
    to {transform:translateX(0); opacity: 1;}

}
.logo p{
  color: #000000;
  font-size: 25px;
  z-index: 100;
  position: absolute;
  margin-top: 6%;
  margin-left: 35%;
  letter-spacing: 7px;
  font-style: italic;
  text-decoration: solid;
}


@media (max-width: 786px) {
  .product img{
    width:50%;
    height: 20%;
    margin-left: -62%;
  
  }
   
  .product{
  
  margin-left: 3%;
  }
  .header{
    height: 288px;
  }
.prava{
  margin-left: 2%;
  width: 90%;
  margin-top: 50%;
font-size: 13px;
}
.hero h1{
  margin-left: 2%;
}
.prava p{
  font-size: 17px;
  margin-left: 60%;
}


 
 

.whatsapp-icon{
  margin-left: -30px;
}
h5{
  font-size: 12px;
  margin-left: -1%;
  margin-top: -80%;
  
}
h6{
 margin-left: 8%;
  position: absolute;
  font-size: 15px;
  margin-top: -19%;
}


.whatsapp-icon{
  width: 40px;
  height: 40px;
}
.facebook-icon{
  width: 40px;
  height: 40px;
}
.instagram-icon{
  width: 40px;
  height: 40px;
}

  
.logo{
  margin-left: 32%;
}
  .hero h1 {
    font-size: 34px;
  }
  .cont1 img{
    width: 70%;
      height: 300px;
  }
  .cont1 {
    width: 110%;
 margin-left: -5%;
 padding-top: 10px;

  }
  .btn2{
    font-size: 12px;
  }
   .btn1{
    font-size: 12px;
  }
  .item{
    width: 280px;
   border: none;
   border-radius: 10px;
    box-shadow: 0 0 0 3px #00ff11, 0 12px 25px rgb(79, 130, 9);
   
  }
  .item p{
    font-size: 12px;
   
  }
  .catalog{
    gap: 29px;
  }
  .item img{
    width: 100%;
    border-radius: 10px;
    
  }
  .logo img{
    width: 90%;
    height: 42%;
    margin-top: -49%;
    margin-left: -29%;
  
   
  }
  .logo p{
    margin-top: 25%;
    
   margin-left: -2%;
   font-size: 15px;
   letter-spacing: normal;
  }
  .logor{
    color: rgb(0, 0, 0);
    
  }
}